{{> navbar}}
<div class="container container--artist-list"">
  <div class=" wrapper">
  <div class="profile-box">
    <div class="user-info">
      <h2>{{foundUser.name}}</h2>
      <p>{{foundUser.email}}</p>
    </div>
    <a class="edit-profile" href="/users/edit-profile/">
      <div class="edit-icon "></div>
    </a>
  </div>
  <div class="playlists">
    <h2 class="main-title">Playlists</h2>
    <div class="playlist-list__wrapper">
      {{#each foundUser.favouriteplaylists}}
      <div class="playlist-item ">
        <a href="/playlist/playlist/?name={{name}}&playlistId={{_id}}">
          <p>{{name}}</p>
        </a>
        <form action="/users/profile/{{_id}}/" method="POST">
          <button type="submit">
            <span class="trash-icon">
            </span>
          </button>
        </form>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</div>