<h1>Profile</h1>
<div class="profile-header"> 
    <div class="profile-picture">
        <img src="{{avatarUrl}}">
    </div> 
    <div class="user-info">
        <h3>{{foundUser.name}}</h3>
        <p>{{foundUser.email}}</p>
        <p><a href="/users/edit-profile/">Edit</a></p>
        <p><a href="/users/logout/">Logout</a></p>
    </div>
</div>
<div class="playlists">
    <div class="playlist-title">
        <h4>Playlists</h4>
    </div>
    {{#each foundUser.favouriteplaylists}}
    <div class="playlist-item playlists-list">
        <a href="/playlist/playlist/?name={{name}}&playlistId={{_id}}"><p>{{name}}</p></a>
        <form action="/users/profile/{{_id}}/" method="POST">
            <button type="submit"><span><i class="bi bi-trash-fill" id="toggleDelete"></i></span></button>
        </form>
    </div>
    {{/each}}
</div>
<nav>
    <ul>
        <li class="nav-home"><a href="/playlist/discover"><i class="bi bi-house"></i></a></li>
        <li class="nav-profile"><a href="/users/profile"><i class="bi bi-person-fill"></i></a></li>
    </ul>
</nav>





