<div class="centered-block">
    <h2>Now playing</h2>

    <div class="tune">
        {{!-- <img src="https://via.placeholder.com/322"> --}}
        <img src="{{ track.album.images.0.url }}">
        <div class="player">

        </div>
        <h2>{{track.name}}</h2>
        <p>{{ track.artists.0.name }}</p>
        {{!-- <p>{{preview}}</p> --}}
        
        <div class="swipe-buttons">
                   
        <a href="/playlist/swipe/?artist={{artist}}&playlist={{playlist}}&operation=NO&track={{track.id}}"><button class="yesno"><i class="bi bi-x-circle"></i></button></a>
                   
        <a href="/playlist/swipe/?artist={{artist}}&playlist={{playlist}}&operation=YES&track={{track.id}}"><button class="yesno"><i class="bi bi-check-circle"></i></button></a>

            {{!-- <a href=""><i class="bi bi-x-circle"></i></a>
            <a href=""><i class="bi bi-check-circle"></i></a> --}}
        </div>
    </div>
</div>
{{> navbar}}





